<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Tracking</title>
    <link rel="stylesheet" href="css/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <h1>Delete Existing Customer</h1>

    <form action="/delete" method="POST" autocomplete="off">
      <input type="text" name="customerID" placeholder="Enter customer ID to delete" required>
      <button class="searchButton" type="submit"> Delete </button>
    </form>

    <span class="error"><%= errMsg %></span>
    <span class="success"><%= cnfMsg %></span>
    
    <button class="goBack"  onclick="window.location.href='/manage'"> Go Back </button>

  </body>

</html>