<!DOCTYPE html>
<html lang="en">
    
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Insurance Tracking</title>
      <link rel="stylesheet" href="css/common.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    
      <h1>Insurance Tracking</h1>
      
      <button class="customerSearch" onclick="window.location.href='/customerSearch'"> Search by <strong>CUSTOMER</strong> name </button>
      <button class="companySearch" onclick="window.location.href='/companySearch'"> Search by <strong>COMPANY</strong> name </button>
      <button class="manageData" onclick="window.location.href='/manage'"> <strong>MANAGE</strong> Insurance Data </button>

  </body>
</html>