<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Tracking</title>
    <link rel="stylesheet" href="css/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <h1>Manage Insurance Data</h1>

    <button class="addCustomer" onclick="window.location.href='/add'"> <strong>ADD</strong> New Customer </button>
    <button class="updateCustomer" onclick="window.location.href='/update'"> <strong>UPDATE</strong> Existing Customer </button>
    <button class="deleteCustomer" onclick="window.location.href='/delete'"> <strong>DELETE</strong> Existing Customer </button>

    <button class="goBack" onclick="window.location.href='/'"> Go Back </button>
    
  </body>

</html>